<li class="nav-item">
    <a class="nav-link d-flex align-items-center collapsed bg-dark text-white" data-bs-toggle="collapse" href="#transactionsAccordion" role="button" aria-expanded="true" aria-controls="transactionsAccordion">
        <i class="fa fa-coins me-2"></i> <span class="ms-1">Transazioni</span>
    </a>
    <div class="collapse" id="transactionsAccordion">
        <ul class="nav flex-column ms-3">
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-black" href="{% url 'transactions:account_view' %}">
                    <i class="fas fa-wallet me-2"></i> Conti
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-black" href="{% url 'transactions:income_view' %}">
                    <i class="fas fa-arrow-circle-up me-2"></i> Entrate
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-black" href="{% url 'transactions:expense_view' %}">
                    <i class="fas fa-arrow-circle-down me-2"></i> Uscite
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center text-black" href="{% url 'transactions:category_view' %}">
                    <i class="fas fa-tags me-2"></i> Categorie
                </a>
            </li>
        </ul>
    </div>
</li>
