{% extends "backoffice/backoffice.html" %}
{% load static %}

{% block main %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="h4">Spese</h2>
        <div class="d-flex flex-row justify-content-between align-items-center mb-4">
            <button class="btn bg-dark text-white mx-1" data-bs-toggle="modal" data-bs-target="#createExpenseModal">
                <i class="fas fa-plus me-2"></i> Spesa
            </button>
            <button class="btn bg-dark text-white mx-1" data-bs-toggle="modal" data-bs-target="#createRecurrentExpenseModal">
                <i class="fas fa-sync-alt me-2"></i> Spesa Ricorrente
            </button>
            <a href="{% url 'backoffice:backoffice' %}" class="btn btn-outline-dark">
                <i class="fa-solid fa-reply me-2"></i>indietro
            </a>
        </div>
    </div>

    <!-- Modal per la creazione di una nuova spesa -->
    <div class="modal fade" id="createExpenseModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">Nuova Spesa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ transaction_form.as_p }}
                        <button type="submit" class="btn bg-dark text-white" name="create_transaction">
                            <i class="fas fa-check me-2"></i> Crea Spesa
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal per la creazione di una nuova spesa ricorrente -->
    <div class="modal fade" id="createRecurrentExpenseModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">Nuova Spesa Ricorrente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ recurring_transaction_form.as_p }}
                        <button type="submit" class="btn bg-dark text-white" name="create_recurring_transaction">
                            <i class="fas fa-sync-alt me-2"></i> Crea Spese
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabella delle spese -->
    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>Data</th>
                <th class="d-none d-md-table-cell">Descrizione</th>
                <th class="d-none d-md-table-cell">Account</th>
                <th>Categoria</th>
                <th>Importo</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td class="d-none d-md-table-cell">{{ transaction.description }}</td>
                    <td class="d-none d-md-table-cell">{{ transaction.account.name }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.amount }} €</td>
                    <td>
                        <a class="btn btn-sm btn-outline-dark" href="{% url 'transactions:transaction_detail_view' transaction.id %}">
                            <i class="fas fa-edit me-2"></i> Modifica
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
